NoZeeman/
Outputs/
Zeeman/
results/
.vscode/
.vs/
CppProperties.json
Plots/
Debug/
build/
bin/
exciton.sln
exciton.vcxproj
exciton.vcxproj.filters
exciton.vcxproj.user
old/
xatu_old/
libxatu.a
exciton_files/
plot/
main/
test/*.x
*
