NoZeeman/
Outputs/
Zeeman/
results/
.vscode/
.vs/
CppProperties.json
Plots/
plot/
Debug/
build/
bin/
exciton.sln
exciton.vcxproj
exciton.vcxproj.filters
exciton.vcxproj.user
old/
xatu_old/
/src/libxatu.a
libxatu.a
main/
exciton_files/